.footer
    background: linear-gradient(to bottom, $darkSecondaryColor, $secondaryColor)
    padding: 30px 0

    &-widgets
        padding: 40px 10%
        box-sizing: border-box
        color: lighten($lightSecondaryColor, 5%)
        +mainFlex(flex-start, stretch)

        &-item
            box-sizing: border-box
            &:last-child
                border-right: none
            h3
                color: inherit
                margin-top: 0
                text-transform: uppercase
                letter-spacing: 1px
                font-size: 1em
                font-size: 1rem
                font-weight: bold
        &-logo
            flex: 0 0 40%
            h3
                font-size: 1.5em
                font-size: 1.5rem
                font-weight: bold

            .footer-subscription
                form
                    width: 90%
                .form__item-block
                    margin-bottom: 10px
                    input
                        box-sizing: border-box
                        width: 100%
                        border: none
                        color: $primaryFontColor
                    input[type="submit"]
                        color: #ffffff
        &-legal
            font-size: 0.85em
            font-size: 0.85rem
            width: 90%
            border-top: 1px solid $secondaryColor
            a
                color: lighten($lightSecondaryColor, 5%)

        &-nav
            flex: 0 0 30%
            a
                display: block
                margin: 10px 0
                color: inherit

        &-contact
            flex: 0 0 30%
            a
                margin: 10px 0
                color: inherit
            input
                color: $primaryFontColor
            .social-media
                +mainFlex(flex-start, flex-start)
                a
                    background: lighten($secondaryColor, 10%)
                    color: $darkSecondaryColor
                    width: 35px
                    height: 35px
                    margin: 0 10px 0 0
                    border-radius: 99px
                    font-size: 20px
                    +mainFlex(center, center)
                    +mainTransition
                    &:hover
                        background: lighten($lightSecondaryColor, 5%)
                        text-decoration: none
                    
@media screen and (max-width: 720px)
    .footer
        &-widgets
            display: block
            &-item
                margin: 0 0 30px
                display: block
