.landing-contact
    padding-bottom: 100px
    &-form
        width: 90%
        max-width: 600px
        margin: 0 auto
        
        &-buttons
            margin: 0 3px 0 0

        &-error
            font-style: italic
            font-weight: bold
            color: $darkThirdColor