.landing-services
    &-list
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 10px

    &-item
        background: $lightGrey
        padding: 30px
        text-align: center    