$articleBorder: 1px solid darken($lightGrey, 3%)
.landing-articles
    &-list
        +mainFlex(center, flex-start)
        flex-wrap: wrap

    &-item
        box-sizing: border-box
        border: $articleBorder
        border-radius: $boxRadius
        overflow: hidden
        margin: 1%
        flex: 0 0 31%

        &-header
            h3
                padding: 0 15px
        
        &-main
            padding: 0 15px 15px
            p
                margin-top: 0
        
        &-footer
            +mainFlex
            border-top: $articleBorder
            border-radius: 0 0 $boxRadius $boxRadius
            font-size: 0.8em
            font-size: 0.8rem
            padding: 15px
            .article-tag
                display: inline-block
                background: darken($lightGrey, 3%)
                border-radius: 3px
                padding: 5px 10px
                color: $primaryFontColor
                &:hover
                    background: $lightSecondaryColor // darken($lightGrey, 10%)
                    color: #ffffff
                    text-decoration: none


@media screen and (max-width: 960px)
    .landing-articles
        &-list
            display: block
        &-item
            display: block
            max-width: 720px
            margin: 0 auto 50px
            &-header
                img
                    display: block
                    width: 100%
    // .landing-articles
    //     &-list
    //         justify-content: flex-start
    //     &-item
    //         flex: 0 0 31%

// @media screen and (max-width: 720px)
//     .landing-articles
//         &-item
//             flex: 0 0 48%

// @media screen and (max-width: 540px)
//     .landing-articles
//         &-list
//             display: block
//         &-item
//             display: block
