.landing-testimonials
    overflow: hidden
    position: relative

    .bg-bubble
        position: absolute
        background: lighten($lightSecondaryColor, 15%)
        border-radius: 50%
        &-1
            width: 95%
            height: 400px
            bottom: -200px
            right: -25%
        &-2
            width: 120px
            height: 120px
            border-radius: 50%
            top: -30px
            right: 10%
        &-3
            width: 150px
            height: 150px
            border-radius: 50%
            bottom: 10%
            left: 7.5%

    .landing-section-inner
        position: relative
        background-image: url('../img/open-quote.png')
        background-repeat: no-repeat
        background-position: 20% 10%
        background-size: 100px
    &-list
        position: relative
    &-item
        // position: absolute
        +mainFlex(center, flex-start)
        &-author
            flex: 0 0 25%
            img
                display: block
                width: 100px
                margin: 0 auto
                border-radius: 99px
        &-content
            p
                margin-top: 0
                font-size: 1.2em
                font-size: 1.2rem
            .signature
                text-align: right
                color: $primaryColor
                strong
                    color: inherit
                em
                    color: lighten($primaryColor, 10%)
                    font-size: 0.9em


@media screen and (max-width: 720px)
    .landing-testimonials
        .landing-section-inner
            background-position: 0 40%

        &-item
            display: block
            &-author
                display: block
                margin: 0 0 15px
            &-content
                .signature
                    text-align: left