$gridItemHeight: 120px
    
.landing-clients
    padding: 10px 0
    background: linear-gradient(-45deg, lighten($lightPrimaryColor, 18%), lighten($lightPrimaryColor, 15%))
    .landing-section-inner
        max-width: none
    &-list
        width: 1000px
        margin: 0 auto
        position: relative
        overflow: hidden

    &-inner-list
        text-align: center
        +mainFlex(flex-start, initial)

    &-item
        flex: 0 0 200px
        +mainFlex(center, center)
        box-sizing: border-box
        padding: 20px
        opacity: 0.5
        +mainTransition
        // &:hover
        //     opacity: 1

        img
            display: block
            max-width: 100%
            margin: 0 auto


@media screen and (max-width: 1024px)
    .landing-clients
        &-list
            width: 600px
            flex-wrap: wrap

@media screen and (max-width: 600px)
    .landing-clients
        &-list
            width: 350px
        &-item
            flex: 0 0 175px

@media screen and (max-width: 380px)
    .landing-clients
        &-list
            display: block

        &-item
            display: block

