@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700|Overpass:400,600");
body {
  margin: 0;
  font-family: "Heebo", sans-serif;
  color: #777777;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  color: #444444;
}

a, a:active, a:visited {
  color: #555555;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #6f6f6f;
}

code {
  background: #f7f7f7;
  color: #848484;
  padding: 8px 14px;
  border: 3px;
}

.code-block {
  display: block;
}

img {
  display: block;
  max-width: 100%;
}

.img-block {
  width: 100%;
}

.img-left {
  float: left;
  margin: 0 20px 20px 0;
}

.img-right {
  float: right;
  margin: 0 0 20px 20px;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  box-sizing: border-box;
  background: #ffffff;
}

.form__item {
  display: inline-block;
  margin: 0 10px 20px 0;
}

.form__item-block {
  display: block;
  margin: 0 10px 20px 0;
}

label {
  display: block;
  margin: 0 0 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="date"],
input[type="url"],
input[type="tel"],
input[type="number"],
input[type="datetime-local"],
input[type="time"],
input[type="week"],
textarea,
select {
  display: block;
  padding: 8px 12px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

input[type="text"].block-field,
input[type="password"].block-field,
input[type="email"].block-field,
input[type="search"].block-field,
input[type="date"].block-field,
input[type="url"].block-field,
input[type="tel"].block-field,
input[type="number"].block-field,
input[type="datetime-local"].block-field,
input[type="time"].block-field,
input[type="week"].block-field,
textarea.block-field,
select.block-field {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="date"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="datetime-local"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #888888;
}

input[type="text"].error-field,
input[type="password"].error-field,
input[type="email"].error-field,
input[type="search"].error-field,
input[type="date"].error-field,
input[type="url"].error-field,
input[type="tel"].error-field,
input[type="number"].error-field,
input[type="datetime-local"].error-field,
input[type="time"].error-field,
input[type="week"].error-field,
textarea.error-field,
select.error-field {
  border-color: #555555;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="search"]::placeholder,
input[type="date"]::placeholder,
input[type="url"]::placeholder,
input[type="tel"]::placeholder,
input[type="number"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="time"]::placeholder,
input[type="week"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: #d0d0d0;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

select {
  height: 2.25em;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
}

.radio-label {
  display: inline-block;
  cursor: pointer;
}

.radio-label input[type="radio"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.radio-label input[type="radio"] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
  border: 2px solid #aaaaaa;
}

.radio-label input[type="radio"]:checked + span::before {
  background: #555555;
  border-color: #555555;
}

.checkbox-label {
  display: inline-block;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.checkbox-label input[type="checkbox"] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 3px;
  border: 2px solid #aaaaaa;
}

.checkbox-label input[type="checkbox"]:checked + span::before {
  background: #555555;
  border-color: #555555;
}

.file-label {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  border-color: #555555;
  border-radius: 3px;
  background: #555555;
  color: #ffffff;
}

.file-label:focus {
  outline: none;
}

.file-label:hover {
  text-decoration: none !important;
}

.file-label input[type="file"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.file-label:hover {
  background: #6f6f6f;
  border-color: #6f6f6f;
}

.file-label--border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  border-color: #555555;
  border-radius: 3px;
  background: transparent;
  color: #555555;
}

.file-label--border:focus {
  outline: none;
}

.file-label--border:hover {
  text-decoration: none !important;
}

.file-label--border input[type="file"] {
  display: inline-block;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
}

.file-label--border:hover {
  background: rgba(26, 26, 26, 0);
  border-color: rgba(26, 26, 26, 0);
}

.file-label--border:hover {
  background: #555555;
  border-color: #555555;
  color: #ffffff;
}

input[type="button"], input[type="submit"] {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #888888;
  color: #ffffff;
  border-color: #888888;
  border-radius: 3px;
}

input[type="button"]:focus, input[type="submit"]:focus {
  outline: none;
}

input[type="button"]:hover, input[type="submit"]:hover {
  text-decoration: none !important;
}

input[type="button"]:hover, input[type="submit"]:hover {
  background: #a2a2a2;
  border-color: #a2a2a2;
}

input[type="button"].primary-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #888888;
  border-color: #888888;
  border-radius: 3px;
}

input[type="button"].primary-border:focus {
  outline: none;
}

input[type="button"].primary-border:hover {
  text-decoration: none !important;
}

input[type="button"].primary-border:hover {
  background: #888888;
  color: #ffffff;
}

input[type="button"].secondary {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #555555;
  color: #ffffff;
  border-color: #555555;
  border-radius: 3px;
}

input[type="button"].secondary:focus {
  outline: none;
}

input[type="button"].secondary:hover {
  text-decoration: none !important;
}

input[type="button"].secondary:hover {
  background: #6f6f6f;
  border-color: #6f6f6f;
}

input[type="button"].secondary-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #555555;
  border-color: #555555;
  border-radius: 3px;
}

input[type="button"].secondary-border:focus {
  outline: none;
}

input[type="button"].secondary-border:hover {
  text-decoration: none !important;
}

input[type="button"].secondary-border:hover {
  background: #555555;
  color: #ffffff;
}

input[type="reset"] {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #aaaaaa;
  border-color: #aaaaaa;
  border-radius: 3px;
}

input[type="reset"]:focus {
  outline: none;
}

input[type="reset"]:hover {
  text-decoration: none !important;
}

input[type="reset"]:hover {
  background: #aaaaaa;
  color: #ffffff;
}

.btn--primary, a.btn--primary {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #888888;
  color: #ffffff;
  border-color: #888888;
  border-radius: 3px;
}

.btn--primary:focus, a.btn--primary:focus {
  outline: none;
}

.btn--primary:hover, a.btn--primary:hover {
  text-decoration: none !important;
}

.btn--primary:hover, a.btn--primary:hover {
  background: #a2a2a2;
  border-color: #a2a2a2;
}

.btn--primary-border, a.btn--primary-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #888888;
  border-color: #888888;
  border-radius: 3px;
}

.btn--primary-border:focus, a.btn--primary-border:focus {
  outline: none;
}

.btn--primary-border:hover, a.btn--primary-border:hover {
  text-decoration: none !important;
}

.btn--primary-border:hover, a.btn--primary-border:hover {
  background: #888888;
  color: #ffffff;
}

.btn--white, a.btn--white {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #ffffff;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 3px;
  color: #777777;
}

.btn--white:focus, a.btn--white:focus {
  outline: none;
}

.btn--white:hover, a.btn--white:hover {
  text-decoration: none !important;
}

.btn--white:hover, a.btn--white:hover {
  background: white;
  border-color: white;
}

.btn--white:hover, a.btn--white:hover {
  color: #777777;
}

.btn--white-border, a.btn--white-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 3px;
}

.btn--white-border:focus, a.btn--white-border:focus {
  outline: none;
}

.btn--white-border:hover, a.btn--white-border:hover {
  text-decoration: none !important;
}

.btn--white-border:hover, a.btn--white-border:hover {
  background: #ffffff;
  color: #ffffff;
}

.btn--white-border:hover, a.btn--white-border:hover {
  color: #777777;
}

.btn--neutral, a.btn--neutral {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #aaaaaa;
  color: #ffffff;
  border-color: #aaaaaa;
  border-radius: 3px;
}

.btn--neutral:focus, a.btn--neutral:focus {
  outline: none;
}

.btn--neutral:hover, a.btn--neutral:hover {
  text-decoration: none !important;
}

.btn--neutral:hover, a.btn--neutral:hover {
  background: #c4c4c4;
  border-color: #c4c4c4;
}

.btn--neutral-border, a.btn--neutral-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #aaaaaa;
  border-color: #aaaaaa;
  border-radius: 3px;
}

.btn--neutral-border:focus, a.btn--neutral-border:focus {
  outline: none;
}

.btn--neutral-border:hover, a.btn--neutral-border:hover {
  text-decoration: none !important;
}

.btn--neutral-border:hover, a.btn--neutral-border:hover {
  background: #aaaaaa;
  color: #ffffff;
}

.btn--danger, a.btn--danger {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #555555;
  color: #ffffff;
  border-color: #555555;
  border-radius: 3px;
}

.btn--danger:focus, a.btn--danger:focus {
  outline: none;
}

.btn--danger:hover, a.btn--danger:hover {
  text-decoration: none !important;
}

.btn--danger:hover, a.btn--danger:hover {
  background: #6f6f6f;
  border-color: #6f6f6f;
}

.btn--danger-border, a.btn--danger-border {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #555555;
  border-color: #555555;
  border-radius: 3px;
}

.btn--danger-border:focus, a.btn--danger-border:focus {
  outline: none;
}

.btn--danger-border:hover, a.btn--danger-border:hover {
  text-decoration: none !important;
}

.btn--danger-border:hover, a.btn--danger-border:hover {
  background: #555555;
  color: #ffffff;
}

.btn--primary-disabled, a.btn--primary-disabled,
.btn--neutral-disabled, a.btn--neutral-disabled,
.btn--danger-disabled, a.btn--danger-disabled {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: #e2e2e2;
  color: #ffffff;
  border-color: #e2e2e2;
  border-radius: 3px;
  cursor: initial;
}

.btn--primary-disabled:focus, a.btn--primary-disabled:focus,
.btn--neutral-disabled:focus, a.btn--neutral-disabled:focus,
.btn--danger-disabled:focus, a.btn--danger-disabled:focus {
  outline: none;
}

.btn--primary-disabled:hover, a.btn--primary-disabled:hover,
.btn--neutral-disabled:hover, a.btn--neutral-disabled:hover,
.btn--danger-disabled:hover, a.btn--danger-disabled:hover {
  text-decoration: none !important;
}

.btn--primary-disabled:hover, a.btn--primary-disabled:hover,
.btn--neutral-disabled:hover, a.btn--neutral-disabled:hover,
.btn--danger-disabled:hover, a.btn--danger-disabled:hover {
  background: #fcfcfc;
  border-color: #fcfcfc;
}

.btn--primary-disabled:hover, a.btn--primary-disabled:hover,
.btn--neutral-disabled:hover, a.btn--neutral-disabled:hover,
.btn--danger-disabled:hover, a.btn--danger-disabled:hover {
  background: #e2e2e2;
  border-color: #e2e2e2;
}

.btn--primary-border-disabled, a.btn--primary-border-disabled,
.btn--neutral-border-disabled, a.btn--neutral-border-disabled,
.btn--danger-border-disabled, a.btn--danger-border-disabled {
  display: inline-block;
  padding: 8px 14px;
  text-transform: uppercase;
  border: 1px solid;
  cursor: pointer;
  font-family: "Overpass", sans-serif;
  font-size: inherit;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  background: transparent;
  color: #e2e2e2;
  border-color: #e2e2e2;
  border-radius: 3px;
  cursor: initial;
}

.btn--primary-border-disabled:focus, a.btn--primary-border-disabled:focus,
.btn--neutral-border-disabled:focus, a.btn--neutral-border-disabled:focus,
.btn--danger-border-disabled:focus, a.btn--danger-border-disabled:focus {
  outline: none;
}

.btn--primary-border-disabled:hover, a.btn--primary-border-disabled:hover,
.btn--neutral-border-disabled:hover, a.btn--neutral-border-disabled:hover,
.btn--danger-border-disabled:hover, a.btn--danger-border-disabled:hover {
  text-decoration: none !important;
}

.btn--primary-border-disabled:hover, a.btn--primary-border-disabled:hover,
.btn--neutral-border-disabled:hover, a.btn--neutral-border-disabled:hover,
.btn--danger-border-disabled:hover, a.btn--danger-border-disabled:hover {
  background: #e2e2e2;
  color: #ffffff;
}

.btn--primary-border-disabled:hover, a.btn--primary-border-disabled:hover,
.btn--neutral-border-disabled:hover, a.btn--neutral-border-disabled:hover,
.btn--danger-border-disabled:hover, a.btn--danger-border-disabled:hover {
  background: transparent;
  color: #e2e2e2;
}

.block-btn, a.block-btn {
  display: block;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.center-text {
  text-align: center;
}

.clearfix::before, .clearfix::after, .clearfix-before::before, .clearfix-after::after {
  display: block;
  content: " ";
  clear: both;
}

.no-margin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.half {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.one-third {
  display: inline-block;
  vertical-align: top;
  width: 31%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.two-thirds {
  display: inline-block;
  vertical-align: top;
  width: 64%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.one-fourth {
  display: inline-block;
  vertical-align: top;
  width: 23%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.three-fourths {
  display: inline-block;
  vertical-align: top;
  width: 73%;
  margin-left: 0.9%;
  margin-right: 0.9%;
}

.splash {
  position: relative;
  background: #f7f7f7;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-scroll-down {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.splash-scroll-down span {
  display: inline-block;
  margin: 0 0 15px;
  cursor: pointer;
}

.splash-content {
  position: relative;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.splash-content > div {
  width: 47%;
  margin: 0 1%;
  display: inline-block;
  box-sizing: border-box;
}

.splash-content-left {
  text-align: right;
}

.splash-content-right {
  text-align: center;
}

.splash-title {
  text-transform: uppercase;
  font-size: 2em;
  font-size: 2rem;
  margin-top: 0;
}

.splash-tagline {
  font-weight: normal;
  font-size: 1.2em;
  font-size: 1.2rem;
}

.splash-cta {
  text-transform: uppercase;
  text-decoration: none;
  color: #777777;
  border: 2px solid #777777;
  padding: 14px 24px;
  display: inline-block;
  margin: 20px auto 0;
}

@media screen and (max-width: 960px) {
  .splash-scroll-down {
    display: none;
  }
  .splash .splash-content {
    display: block;
  }
  .splash .splash-content-left, .splash .splash-content-right, .splash .splash-content > div {
    display: block;
    width: auto;
    max-width: none;
    text-align: center;
  }
}

.main-nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  background: #888888;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: initial;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}

.main-nav.sticky {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(136, 136, 136, 0.95);
}

.main-nav-link, .main-nav a {
  display: inline-block;
  margin: 0 8px;
  color: #ffffff;
}

.main-nav-link:hover, .main-nav a:hover {
  text-decoration: none;
  color: #e6e6e6;
}

.menu-button {
  /* Customize your menu button */
  display: none;
  padding: 8px 12px;
  background: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .main-nav {
    position: initial;
  }
  .menu-button {
    display: inline-block;
  }
  .main-nav-links {
    display: none;
  }
  .main-nav-links.open {
    display: block;
  }
}

.landing-section {
  padding: 60px 0;
  box-sizing: border-box;
}

.landing-section-inner {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}

.landing-section-title {
  margin-top: 0;
  text-align: center;
}

.landing-clients {
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
}

.landing-clients .landing-section-inner {
  max-width: none;
}

.landing-clients-list {
  width: 1000px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.landing-clients-inner-list {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: initial;
  flex-direction: initial;
}

.landing-clients-item {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  box-sizing: border-box;
  padding: 20px;
}

.landing-clients-item img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .landing-clients-list {
    width: 600px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .landing-clients-list {
    width: 350px;
  }
  .landing-clients-item {
    flex: 0 0 175px;
  }
}

@media screen and (max-width: 380px) {
  .landing-clients-list {
    display: block;
  }
  .landing-clients-item {
    display: block;
  }
}

.landing-services-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  flex-wrap: wrap;
}

.landing-services-item {
  background: #f7f7f7;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  margin: 1%;
  flex: 0 0 31%;
}

@media screen and (max-width: 960px) {
  .landing-services-item {
    flex: 0 0 48%;
  }
}

@media screen and (max-width: 600px) {
  .landing-services-list {
    display: block;
  }
  .landing-services-item {
    display: block;
    width: auto;
  }
}

.landing-portfolio-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: initial;
  flex-wrap: wrap;
}

.landing-portfolio-item {
  background: #f7f7f7;
  flex: 0 0 32%;
  margin: 5px 0.5%;
}

.landing-portfolio-item .portfolio-img {
  display: block;
}

@media screen and (max-width: 720px) {
  .landing-portfolio-item {
    flex: 0 0 49%;
  }
}

@media screen and (max-width: 480px) {
  .landing-portfolio-list {
    display: block;
  }
  .landing-portfolio-item {
    display: block;
  }
}

.landing-about-content {
  text-align: center;
}

.landing-articles-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
  flex-wrap: wrap;
}

.landing-articles-item {
  box-sizing: border-box;
  background: #f7f7f7;
  margin: 1%;
  flex: 0 0 23%;
  padding: 15px;
}

@media screen and (max-width: 960px) {
  .landing-articles-list {
    justify-content: flex-start;
  }
  .landing-articles-item {
    flex: 0 0 31%;
  }
}

@media screen and (max-width: 720px) {
  .landing-articles-item {
    flex: 0 0 48%;
  }
}

@media screen and (max-width: 540px) {
  .landing-articles-list {
    display: block;
  }
  .landing-articles-item {
    display: block;
  }
}

.landing-pricing-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
}

.landing-pricing-item {
  background: #f7f7f7;
  padding: 15px;
  box-sizing: border-box;
  margin: 1%;
}

.landing-pricing-item-header {
  border-bottom: 1px solid #dddddd;
  text-align: center;
}

.landing-pricing-item-title {
  margin-top: 0;
}

.landing-pricing-item-price {
  font-size: 1.75em;
  font-size: 1.75rem;
  margin-bottom: 0;
}

.landing-pricing-item-term {
  margin-top: 0;
  color: #919191;
}

.landing-pricing-item-body {
  padding: 15px;
}

.landing-pricing-item-body ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.landing-pricing-item-body li {
  margin: 10px;
}

.landing-pricing-item-footer {
  text-align: center;
}

@media screen and (max-width: 720px) {
  .landing-pricing-list {
    display: block;
    max-width: 420px;
    margin: 0 auto;
  }
  .landing-pricing-item {
    display: block;
    margin: 30px auto;
  }
}

.landing-testimonials-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: initial;
}

.landing-testimonials-item-author {
  flex: 0 0 25%;
}

.landing-testimonials-item-author img {
  display: block;
  width: 100px;
  margin: 0 auto;
  border-radius: 99px;
}

.landing-testimonials-item-content p {
  margin-top: 0;
  font-size: 1.2em;
  font-size: 1.2rem;
}

.landing-testimonials-item-content .signature {
  text-align: right;
}

.landing-testimonials-item-content .signature em {
  color: #919191;
  font-size: 0.9em;
}

@media screen and (max-width: 720px) {
  .landing-testimonials-item {
    display: block;
  }
  .landing-testimonials-item-author {
    display: block;
    margin: 0 0 15px;
  }
  .landing-testimonials-item-content .signature {
    text-align: left;
  }
}

.landing-contact-form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.landing-contact-form-buttons {
  margin: 0 3px 0 0;
}

.footer {
  background: #2b2b2b;
  padding: 30px;
  color: #ffffff;
}

.wrap {
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
}

.palette div, .greys div {
  display: inline-block;
  margin: 0 15px 15px 0;
  height: 100px;
}

.primary-color {
  background: #888888;
  width: 35%;
}

.secondary-color {
  background: #555555;
  width: 15%;
}

.third-color {
  background: #222222;
  width: 5%;
}

.light-grey {
  background: #f7f7f7;
  width: 10%;
}

.mid-grey {
  background: #aaaaaa;
  width: 25%;
}

.dark-grey {
  background: #2b2b2b;
  width: 10%;
}
